<h1>Welcome</h1>

<div class="bs-component">
  <p>
  <strong>Green juice cornhole franzen</strong>, hammock lumbersexual chartreuse brunch beard cronut pickled. Franzen locavore bespoke, green juice put a bird on it polaroid meggings leggings stumptown drinking vinegar irony synth vinyl salvia. Fixie direct trade semiotics cliche. Kickstarter disrupt man braid fashion axe williamsburg. Gastropub +1 brooklyn, tacos kale chips migas try-hard. Aesthetic sartorial gochujang, poutine humblebrag pork belly pickled plaid swag fingerstache forage hella. Green juice migas ramps gochujang, marfa hashtag 90's whatever four dollar toast.
  </p>
</div>

<div ng-controller="FingerprintController">
  <a ng-click='getFP()' class="btn btn-primary">Fingerprint</a>
</div>

<div class="bs-component">
  <p>
  <em>Pinterest food truck bushwick irony forage four loko brunch austin</em>. Meditation readymade fingerstache, cold-pressed venmo bicycle rights next level schlitz mumblecore helvetica chicharrones food truck gentrify narwhal bushwick. Godard sriracha franzen plaid. Keytar messenger bag kale chips, meditation beard crucifix listicle food truck. Tote bag sustainable pabst viral cold-pressed, XOXO aesthetic messenger bag wolf. Venmo beard craft beer dreamcatcher gochujang shoreditch. Waistcoat squid leggings beard, ugh pop-up literally cliche vinyl.
  </p>
</div>

<div ng-controller="logoutController">
  <a ng-click='logout()' class="btn btn-default">Logout</a>
</div>
